<app-breadcrumb [theme]="theme()" [page]="page()"></app-breadcrumb>
<div class="row">
    <div class="col-12">
        @defer {
            <div class="mg-bottom-20">
                <label for="basic-url"><b>Recherche :</b></label>
                <input 
                    type="text"
                    id="search"
                    #searchField
                    (keyup)="filterResults(searchField.value)"
                    class="form-control"
                    style="width:200px"
                    maxlength="6"
                    placeholder="filtre...">
            </div>
            <div class="mg-bottom-20">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Année</th>
                            <th scope="col">Durée</th>
                            <th scope="col">Réalisateur</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(movie of movies(); track movie.id){
                            <tr>
                                <td>{{ movie.id }}</td>
                                <td>{{ movie.title }}</td>
                                <td>{{ movie.year }}</td>
                                <td>{{ movie.duration }}</td>
                                <td>{{ movie.director?.firstname }} {{ movie.director?.lastname }}</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total : {{ moviesCount() }} @if(moviesCount() > 1){ <span>films</span> }@else{ <span>film</span> }</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table> 
            </div>
        }
        @placeholder(minimum 1500ms) {
            <app-loader></app-loader>
        }
    </div>
</div>