<div class="card border-info mb-3">
    <div class="card-header text-center fw-bold">Child Component</div>
    <div class="card-body text-center">
        @defer {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Article</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                        <th><button class="btn btn-outline-info btn-sm" (click)="clearQuantity()">Vider</button></th>
                    </tr>
                </thead>
                <tbody>
                    @for(article of articles(); track article.id){
                        <tr>
                            <td>{{ article.name }}</td>
                            <td>{{ article.quantity }}</td>
                            <td>{{ article.price }} €</td>
                            <td>
                                <button [style.display]="article.quantity > 0 ? 'inline-block' : 'none'" [disabled]="article.quantity === 0" class="btn btn-outline-danger btn-sm" (click)="removeArticle(article)">-</button>&nbsp;                      
                                <button class="btn btn-outline-danger btn-sm" (click)="addArticle(article)">+</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @placeholder(minimum 1500ms) {
            <app-loader></app-loader>
        }
    </div>
</div>