<div class="card border-info mb-3">
    <div class="card-header text-center fw-bold">Child Component</div>
    <div class="card-body text-center">
        @defer {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Article</th>
                        <th scope="col">Prix unitaire</th>
                        <th>
                            <button [disabled]="quantities() <= 0" [ngClass]="quantities() > 0 ? 'btn btn-outline-info btn-sm' : 'btn btn-outline-secondary btn-sm'" (click)="clearQuantities()">Supprimer tout</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for(article of articles(); track article.id){
                        <tr>
                            <td>{{ article.name }}</td>
                            <td>{{ article.unitPrice }} €</td>
                            <td>
                                <button [disabled]="article.quantity <= 0" [ngClass]="article.quantity > 0 ? 'btn btn-outline-danger btn-sm' : 'btn btn-outline-secondary btn-sm'" (click)="removeArticle(article)">-</button>&nbsp;
                                <button [disabled]="article.quantity >= 5" [ngClass]="article.quantity < 5 ? 'btn btn-outline-danger btn-sm' : 'btn btn-outline-secondary btn-sm'" (click)="addArticle(article)">+</button>&nbsp;
                                <button [disabled]="article.quantity <= 0" [ngClass]="article.quantity > 0 ? 'btn btn-outline-danger btn-sm' : 'btn btn-outline-secondary btn-sm'" (click)="clearQuantity(article)">Supprimer</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @placeholder(minimum 1500ms) {
            <app-loader></app-loader>
        }
    </div>
</div>