<app-breadcrumb [theme]="theme()" [page]="page()"></app-breadcrumb>
<div class="row">
    <div class="col-12">
        <div class="mg-page-title">
            <h3>Model Input Signals</h3> 
        </div>   
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>- Exemple 1</h4>
	</div>
</div>
<div class="row">
	<div class="col-5">
        <div class="card border-danger mb-3" style="min-height: 15rem;">
            <div class="card-header text-center fw-bold">Parent Component</div>
            <div class="card-body text-center">
                @if(selectedArticles().length > 0) {
                    <p class="card-text fw-bold">Articles sélectionnés</p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Article</th>
                                <th scope="col">Prix unitaire</th>
                                <th scope="col">Quantité</th>
                                <th scope="col">Prix</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(article of selectedArticles(); track article.id){
                                <tr>
                                    <td>{{ article.name }}</td>
                                    <td>{{ article.unitPrice }} €</td>
                                    <td>{{ article.quantity }}</td>
                                    <td>{{ article.totalPrice }} €</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4">Total : {{ total() }} €</th>
                            </tr>
                        </tfoot>
                    </table>
                }
                @else {
                    <p class="card-text fw-bold">Aucun article sélectionné</p>
                }   
            </div>
        </div>
	</div>
    <div class="col-1 text-center">
        <div style='font-size:70px;'>&#8644;</div>
        <div>Two-way binding</div>
    </div>
	<div class="col-6">
        <app-child3 [(articles)]="articles" [(selectedArticles)]="selectedArticles"></app-child3>
	</div>
</div>
<div class="row mg-top-40">
    <div class="col-12">
        <h4>- Exemple 2</h4>
	</div>
</div>
<div class="row">
	<div class="col-3">
        <div class="card border-danger mb-3" style="max-width: 18rem;min-height: 15rem;">
            <div class="card-header text-center fw-bold">Parent Component</div>
            <div class="card-body text-center">
                <button [disabled]="counter() <= 0" [ngClass]="counter() > 0 ? 'btn btn-outline-danger btn-sm' : 'btn btn-outline-secondary btn-sm'" (click)="decreaseCounter()">Décrémenter</button>&nbsp;    
                <button [disabled]="counter() >= 10" [ngClass]="counter() < 10 ? 'btn btn-outline-danger btn-sm' : 'btn btn-outline-secondary btn-sm'" (click)="increaseCounter()">Incrémenter</button>
                <div class="card-text mg-top-40" style="height: 5rem;"><h2>{{ counter() }}</h2></div>
            </div>
        </div>       
	</div>
    <div class="col-2 text-center">
        <div style='font-size:70px;'>&#8644;</div>
        <div>Two-way binding</div>
    </div>
	<div class="col-3">
		<app-child1 [(counter)]="counter"></app-child1>
	</div>
    <div class="col-4">
	</div>
</div>
<div class="row mg-top-40">
    <div class="col-12">
        <h4>- Exemple 3</h4>
	</div>
</div>
<div class="row">
	<div class="col-3">
        <div class="card border-danger mb-3" style="max-width: 18rem;min-height: 15rem;">
            <div class="card-header text-center fw-bold">Parent Component</div>
            <div class="card-body text-center">
                <select #parentSelect class="form-select" aria-label="Sélection ville" (change)="onChange($event)">
                    <option value="0">Sélectionnez une ville</option>
                    <option value="1">Paris</option>
                    <option value="2">Barcelone</option>
                    <option value="3">Rome</option>
                    <option value="4">New York</option>
                    <option value="5">Munich</option>
                    <option value="6">Londres</option>
                </select>
                <p class="card-text">{{ parentSelectedIndex() }}</p>
            </div>
        </div>
	</div>
    <div class="col-2 text-center">
        <div style='font-size:70px;'>&#8644;</div>
        <div>Two-way binding</div>
    </div>
	<div class="col-3">
		<app-child2 [(city)]="selectedCity" [(option)]="selectedOption"></app-child2>
	</div>
    <div class="col-4">
	</div>
</div>