<app-breadcrumb [theme]="theme" [page]="page"></app-breadcrumb>
<div class="row">
    <div class="col-12">
        <div class="mg-page-title">
            <h3>Template-driven Form</h3> 
        </div>   
    </div>
</div>
<div class="row">
	<div class="col-7">
        <div class="card border-info mb-3">
            <div class="card-header text-center fw-bold">Inscription</div>
            <div class="card-body text-center">
                <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" autocomplete="off" novalidate>
                    <div class="row mb-3">
                        <label for="firstname" class="col-sm-2 col-form-label">Prénom <span class="text-danger">*</span></label>
                        <div class="col-sm-5">
                            <input type="hidden" id="id" name="id" [(ngModel)]="contact().id" maxlength="3">
                            <input type="text" class="form-control" id="firstname" name="firstname"
                                   [(ngModel)]="contact().firstname" #fname="ngModel" required maxlength="10"
                                   pattern="^([A-Za-zàâäéèêëîïôöùûüçÇÀÂÄÉÈÊËÎÏÔÖÙÛÜ]+[\-]{0,1}[ ]{0,1}[A-Za-zàâäéèêëîïôöùûüçÇÀÂÄÉÈÊËÎÏÔÖÙÛÜ]*)$">
                        </div>
                        <div class="col-sm-5 text-start">
                            <!-- Gestion du message d'erreur avec une méthode du composant en passant le formulaire en paramètre -->
                            <!-- @if(showErrorMessage(registerForm, 'firstname', 'required')){
                                <div class="invalid-feedback d-block">
                                    Le prénom est obligatoire
                                </div>
                            } -->

                            <!-- Gestion du message d'erreur avec une méthode du composant en passant le FormControl en paramètre -->
                            @if(showErrorMessage2(fname, 'required')){
                              <div class="invalid-feedback d-block">
                                  Le prénom est obligatoire
                              </div>
                            }
                            
                            <!-- Gestion des messages d'erreur directement dans le template -->
                            @if(fname?.invalid && (fname?.touched || fname?.dirty)){
                              @if(fname?.errors?.['minlength']){
                                <div class="invalid-feedback d-block">
                                    Maximum 10 caractères
                                </div>
                              }
                              @if(fname?.errors?.['pattern']){
                                <div class="invalid-feedback d-block">
                                    Saisie incorrecte
                                </div>
                              }
                            }
                        </div>
                    </div>
                    <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Civilité <span class="text-danger">*</span></legend>
                        <div class="col-sm-5 text-start">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" required name="civilite" id="civilite1" [(ngModel)]="contact().civilite" value="Monsieur">
                            <label class="form-check-label" for="civilite1">
                                Monsieur
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" required name="civilite" id="civilite2" [(ngModel)]="contact().civilite" value="Madame">
                            <label class="form-check-label" for="civilite2">
                                Madame
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" required name="civilite" id="civilite3" [(ngModel)]="contact().civilite" value="Mademoiselle">
                            <label class="form-check-label" for="civilite3">
                                Mademoiselle
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-5">
                        </div>
                    </fieldset>
                    <div class="row mb-3">
                      <label for="birthDate" class="col-sm-2 col-form-label">Date de naissance <span class="text-danger">*</span></label>
                      <div class="col-sm-5">
                        <div class="input-group">
                            <input
                              class="form-control"
                              placeholder="JJ/MM/AAAA"
                              id="birthDate"
                              name="birthDate"
                              [(ngModel)]="contact().birthDate"
                              ngbDatepicker
                              #d="ngbDatepicker"
                              #bdate="ngModel"
                              required
                              maxlength="10"
                              [minDate]="{year: 1925, month: 1, day: 1}"
                            />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                        </div> 
                      </div>
                      <div class="col-sm-5 text-start">
                        @if(bdate?.invalid && (bdate?.touched || bdate?.dirty)){
                          @if(bdate?.errors?.['required']){
                            <div class="invalid-feedback d-block">
                                La date de naissance est obligatoire
                            </div>
                          }
                        }
                      </div>
                    </div>
                      <div class="row mb-3">
                          <div class="col-sm-4">
                              <button type="submit" [disabled]="registerForm.invalid" [ngClass]="registerForm.invalid ? 'btn btn-outline-secondary btn-sm rounded-pill' : 'btn btn-outline-info btn-sm rounded-pill'">Valider</button>
                              &nbsp;
                              <button type="reset" class="btn btn-sm btn-outline-danger rounded-pill" (click)="onReset(registerForm)">Initialiser</button>            
                          </div>
                          <div class="col-sm-8 text-start text-danger">
                            {{ messageInscription() }}
                          </div>
                      </div>
                </form>
            </div>
        </div>
	</div>
	<div class="col-5">
    <!-- <pre>Contact: {{ contact() | json }}</pre> -->
	</div>
</div>