<app-breadcrumb [theme]="theme()" [page]="page()"></app-breadcrumb>
<div class="row">
    <div class="col-12">
        <div class="mg-page-title">
            <h3>NgRx Store</h3> 
        </div>   
    </div>
</div>
<!-- <div class="row">
    <div class="col-12">
        <h4></h4>
	</div>
</div> -->
<div class="row">
	<div class="col-12">
        <div class="card border-info mb-3">
            <div class="card-header text-center fw-bold">Panier</div>
            <div class="card-body text-center">
                @defer {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Article</th>
                                <th scope="col">Couleur</th>
                                <th scope="col">Description</th>
                                <th scope="col">Quantité</th>
                                <th scope="col">Prix unitaire</th>
                                <th style="width: 80px"></th>
                                <th>
                                    <!-- <button [disabled]="quantities() <= 0" [ngClass]="quantities() > 0 ? 'btn btn-outline-info btn-sm' : 'btn btn-outline-secondary btn-sm'" (click)="clearQuantities()">Supprimer tout</button> -->
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(article of cartArticles$ | async; track article.id){
                                <tr>
                                    <td>{{ article.name }}</td>
                                    <td>{{ article.color }}</td>
                                    <td>{{ article.description }}</td>
                                    <td>{{ article.quantity }}</td>
                                    <td>{{ article.unitPrice }} €</td>
                                    <td style="width: 80px">
                                        <select #quantitySelect [ngModel]="article.quantity" class="form-select form-select-sm" (change)="onChange($event, article)">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-danger btn-sm" (click)="removeToCart(article)">Supprimer</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @placeholder(minimum 1500ms) {
                    <app-loader></app-loader>
                }
            </div>
        </div>
    </div>
</div>