<app-breadcrumb [theme]="theme" [theme1]="theme1" [page]="page"></app-breadcrumb>
<div class="row">
    <div class="col-12">
        <div class="mg-page-title">
            <h3>output() function</h3>
            <div>
                - Chaque film de la liste est 1 composant "enfant"
            </div>
			<div>
				- L'évènement (click) du film sélectionné dans la liste est passé au composant "parent" avec la fonction "output()"
			</div>
            <div>
				- Le composant "parent" recherche les détails du film sélectionné
			</div>
        </div>   
    </div>
</div>
<div class="row">
    @defer {
        <div class="col-3">     
            <div> 
                <ul>
                    @for(movie of movies(); track movie.id){
                        <li>
                            <app-child (buttonClicked)="getSelectedMovieDetails($event)" [buttonId]="movie.id" [buttonText]="movie.title"></app-child>
                        </li>
                    }
                </ul>
                @if(movies() && movies().length === 0){
                    <button (click)="initMoviesList()" class="btn btn-sm btn-outline-info rounded-pill">Réinitialiser la liste des films</button>
                }   
            </div>  
        </div>
        <div class="col-9">
            @if(selectedMovie()){
                <div class="card border-info mb-3" style="max-width: 30rem;">
                    <div class="card-header text-center fw-bold">{{ selectedMovie()!.title }}</div>
                    <div class="card-body">
                      <p class="card-text"><span class="fw-semibold fst-italic">Année</span> : {{ selectedMovie()!.year }}</p>
                      <p class="card-text"><span class="fw-semibold fst-italic">Durée</span> : {{ selectedMovie()!.duration }}</p>
                      <p class="card-text"><span class="fw-semibold fst-italic">Réalisateur</span> : {{ selectedMovie()!.director?.firstname }} {{ selectedMovie()!.director?.lastname }}</p>
                      <p class="card-text"><span class="fw-semibold fst-italic">Acteurs principaux</span> :<br/> {{ selectedMovie()!.actors.join(', ') }}</p>
                      <p class="card-text"><span class="fw-semibold fst-italic">Synopsis</span> :<br/> {{ selectedMovie()!.synopsis }}</p>
                    </div>
                </div>
            }
        </div>
    }
    @placeholder(minimum 1500ms) {
        <app-loader></app-loader>
    }
</div>