<app-breadcrumb [theme]="theme" [page]="page"></app-breadcrumb>
<div class="row">
    <div class="col-12">
        <div class="mg-page-title">
            <h3>Signals + Angular/CDK</h3> 
            <div>
                - 1 popup pour afficher le résumé d'un film
            </div>
            <div>
                - 1 popup pour confirmer la suppression d'un film
            </div>
        </div>   
    </div>
</div>
<div class="row">
    <div class="col-12">
        @defer {
            <div class="mg-bottom-20">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" colspan="6" class="text-center table-light">Films</th>
                        </tr>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Année</th>
                            <th scope="col">Durée</th>
                            <th scope="col">Réalisateur</th>
                            <th scope="col">Total : {{ moviesCount() }} @if(moviesCount() > 1){ <span>films</span> }@else{ <span>film</span> }</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(movie of movies(); track movie.id){
                            <tr>
                                <td>{{ movie.id }}</td>
                                 <td>
                                    <button type="button" class="btn btn-link" (click)="openDetailsDialog(movie)">{{ movie.title }}</button>
                                </td>
                                <td>{{ movie.year }}</td>
                                <td>{{ movie.duration }}</td>
                                <td>{{ movie.director?.firstname }} {{ movie.director?.lastname }}</td>
                                <td>
                                    <!-- <button (click)="deleteMovie(movie.id)" class="btn btn-sm btn-outline-danger rounded-pill">Supprimer</button> -->
                                    <button (click)="openDeleteDialog(movie)" class="btn btn-sm btn-outline-danger rounded-pill">Supprimer</button>
                                    &nbsp;
                                    <a [routerLink]="['/signals/movies/details', movie.id]" [queryParams]="{displaySynopsis: true}">Détails</a>
                                    <!-- Version avec Modal Ng Bootstrap pour supprimer un film -->
                                    <!-- <button 
                                        class="btn btn-sm btn-outline-danger rounded-pill"
                                        [id]="'btnDelete-' + movie.id"
                                        [name]="'btnDelete-' + movie.id"
                                        (click)="openDeleteModal(movie)">
                                        Supprimer
                                    </button> -->  
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>               
                @if(moviesCount() < 10){
                    <button (click)="initMoviesTable()" class="btn btn-sm btn-outline-info rounded-pill">Réinitialiser le tableau</button>
                }   
            </div>
        }
        @placeholder(minimum 1500ms) {
            <app-loader></app-loader>
        }
    </div>
</div>

<!-- Test de takeUntilDestroy() pour unsubscribe automatiquement -->
<!-- <div class="row">
    <div class="col-12">
        <button (click)="start=true" class="btn btn-sm btn-outline-success rounded-pill">Start</button>&nbsp;
        <button (click)="start=false" class="btn btn-sm btn-outline-success rounded-pill">Stop</button>
        @if(start === true) {
            <div>
                <app-tick></app-tick>
            </div>
        }
        <br /><br />
    </div>
</div> -->