<app-breadcrumb [theme]="theme()" [page]="page()"></app-breadcrumb>
<div class="row">
    <div class="col-12">
        @defer {
            <div class="mg-bottom-20">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Année</th>
                            <th scope="col">Durée</th>
                            <th scope="col">Réalisateur</th>
                            <th scope="col">Total : {{ moviesCount() }} @if(moviesCount() > 1){ <span>films</span> }@else{ <span>film</span> }</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(movie of movies(); track movie.id){
                            <tr>
                                <td>{{ movie.id }}</td>
                                <td>{{ movie.title }}</td>
                                <td>{{ movie.year }}</td>
                                <td>{{ movie.duration }}</td>
                                <td>{{ movie.director?.firstname }} {{ movie.director?.lastname }}</td>
                                <td>
                                    <button (click)="deleteMovie(movie.id)" class="btn btn-sm btn-outline-danger rounded-pill">Supprimer</button>
                                    <!-- Version avec Modal pour supprimer un film -->
                                    <!-- <button 
                                        class="btn btn-sm btn-outline-danger rounded-pill"
                                        [id]="'btnDelete-' + movie.id"
                                        [name]="'btnDelete-' + movie.id"
                                        (click)="openDeleteModal(movie)">
                                        Supprimer
                                    </button> -->  
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>               
                @if(moviesCount() < 10){
                    <button (click)="initMoviesTable()" class="btn btn-sm btn-outline-info rounded-pill">Réinitialiser le tableau</button>
                }   
            </div>
        }
        @placeholder(minimum 1500ms) {
            <app-loader></app-loader>
        }
    </div>
</div>