<header>
  <nav class="navbar navbar-expand-md navbar-light bg-body-tertiary">
    <div class="container-fluid">
      <a routerLink="">
        <img class="brand-logo" src="favicon.ico" alt="logo" aria-hidden="true" width="40px" />
      </a>
      &nbsp;&nbsp;&nbsp;
      <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
        <ul class="navbar-nav">
          <li class="nav-item" ngbDropdown #drop1>
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">Thème 1</a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
              <a ngbDropdownItem routerLink="/xxx" routerLinkActive="active">xxx</a>
              <a ngbDropdownItem routerLink="/xxx" routerLinkActive="active">xxx</a>
            </div>
          </li>

          <li class="nav-item" ngbDropdown>
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">Thème 2</a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu">
              <a ngbDropdownItem routerLink="/xxx" routerLinkActive="active">xxx</a>
            </div>
          </li>

          <li class="nav-item" ngbDropdown>
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">Thème 3</a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
              <a ngbDropdownItem routerLink="/xxx" routerLinkActive="active">xxx</a>
              <a ngbDropdownItem routerLink="/xxx" routerLinkActive="active">xxx</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/xxx" routerLinkActive="active">Thème 4</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/xxx" routerLinkActive="active">Thème 5</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <router-outlet />
</div>

<footer class="border-top footer text-muted">
  <div class="container">
      &copy; 2024 - Angular 18 - <a routerLink="/xxx" routerLinkActive="active">Privacy</a>
  </div>
</footer>