<div class="row">
    <div class="col-12 text-center">
        <div class="mg-top-80">
            <!-- <svg width="240" height="240" xmlns="http://www.w3.org/2000/svg">
                <path d="m222.077 39.192-8.019 125.923L137.387 0l84.69 39.192Z" fill="#7c09f3"/>
                <path d="m170.105 200.825-57.933 33.056-57.934-33.056 11.783-28.556h92.301l11.783 28.556Z" fill="#f51867"/>
                <path d="M111.039 62.675l30.357 73.803H80.681l30.358-73.803Z" fill="#ac1d96"/>
                <path d="M7.937 165.115 0 39.192 84.69 0 7.937 165.115Z" fill="#e425b1"/>
            </svg> -->
            <svg width="240" height="240" xmlns="http://www.w3.org/2000/svg">
                <path d="m222.077 39.192-8.019 125.923L137.387 0l84.69 39.192Z" fill="#a5c663"/>
                <path d="m170.105 200.825-57.933 33.056-57.934-33.056 11.783-28.556h92.301l11.783 28.556Z" fill="#b2d8d8"/>
                <path d="M111.039 62.675l30.357 73.803H80.681l30.358-73.803Z" fill="#f51867"/>
                <path d="M7.937 165.115 0 39.192 84.69 0 7.937 165.115Z" fill="orange"/>
            </svg>
        </div>
        <div>
            <h1 class="display-1">Angular 18</h1>      
        </div>
    </div>
</div>
<div class="row mg-top-30">
    <div class="col-12">
        <h4 class="text-decoration-underline">Librairies utilisées</h4>
    </div>
</div>
<div class="row row-cols-3 row-cols-md-5 mb-5 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Ng Bootstrap</h5>
                <a class="card-link" href="https://ng-bootstrap.github.io/#/home" target="_blank">v17.0.0</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Bootstrap</h5>
                <a class="card-link" href="https://getbootstrap.com/" target="_blank">v5.3.2</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">RxJS</h5>
                <a class="card-link" href="https://rxjs.dev/" target="_blank">v7</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">NgRx</h5>
                <a class="card-link" href="https://ngrx.io/" target="_blank">v18</a>
                <p class="card-text">
                    &#64;ngrx/store
                    <br />
                    &#64;ngrx/effects
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Chart.js</h5>
                <a class="card-link" href="https://www.chartjs.org/" target="_blank">v4</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">angular-in-memory-web-api</h5>
                <a class="card-link" href="https://www.npmjs.com/package/angular-in-memory-web-api" target="_blank">v0.18.0</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">angular-cli-ghpages</h5>
                <a class="card-link" href="https://www.npmjs.com/package/angular-cli-ghpages" target="_blank">v2.0.1</a>
            </div>
        </div>
    </div>
</div>
<div class="row mg-top-60">
    <div class="col-12">
        <h4 class="text-decoration-underline">Fonctionnalités abordées</h4>
    </div>
</div>
<div class="row row-cols-3 row-cols-md-5 mb-5 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Control Flow</h5>
                <ul>
                    <li>&#64;if</li>
                    <li>&#64;for</li>
                    <li>&#64;empty</li>
                </ul>
            </div>
        </div>
    </div> 
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Observable</h5>
                <ul>
                    <li>Subscribe</li>
                    <li>Unsubscribe</li>
                    <li>AsyncPipe</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Signals</h5>
                <div class="card-text">
                    <ul>
                        <li>Writable Signal</li>
                        <li>Input Signal</li>
                        <li>Computed Signal</li>
                        <li>Model Signal</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Lazy loading et routage</h5>
                <ul>
                    <li>loadComponent</li>
                    <li>loadChildren</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Lazy loading et template</h5>
                <ul>
                    <li>&#64;defer</li>
                    <li>&#64;placeholder</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Reactive Forms</h5>
                <ul>
                    <li>FormBuilder</li>
                    <li>FormGroup</li>
                    <li>Validators</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Interceptor pour les erreurs HTTP</h5>
                <ul>
                    <li>Functional Interceptor</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Store NgRx</h5>
                <ul>
                    <li>Actions</li>
                    <li>Reducers</li>
                    <li>Effects</li>
                    <li>LocalStorage</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">HttpClient et Services</h5>
                <ul>
                    <li>In-memory Db</li>
                    <li>In-memory web API</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Authentication Guard</h5>
                <ul>
                    <li>CanActivateFn</li>
                    <li>BehaviorSubject</li>
                    <li>LocalStorage</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Graphiques avec Chart.js</h5>
                <ul>
                    <li>Bar Chart</li>
                </ul>
            </div>
        </div>
    </div>
</div>