<div class="row">
    <div class="col-12 text-center">
        <!-- <div class="mg-top-80">
            <svg width="240" height="240" xmlns="http://www.w3.org/2000/svg">
                <path d="m222.077 39.192-8.019 125.923L137.387 0l84.69 39.192Z" fill="#7c09f3"/>
                <path d="m170.105 200.825-57.933 33.056-57.934-33.056 11.783-28.556h92.301l11.783 28.556Z" fill="#f51867"/>
                <path d="M111.039 62.675l30.357 73.803H80.681l30.358-73.803Z" fill="#ac1d96"/>
                <path d="M7.937 165.115 0 39.192 84.69 0 7.937 165.115Z" fill="#e425b1"/>
            </svg>
            <svg width="240" height="240" xmlns="http://www.w3.org/2000/svg">
                <path d="m222.077 39.192-8.019 125.923L137.387 0l84.69 39.192Z" fill="#a5c663"/>
                <path d="m170.105 200.825-57.933 33.056-57.934-33.056 11.783-28.556h92.301l11.783 28.556Z" fill="#b2d8d8"/>
                <path d="M111.039 62.675l30.357 73.803H80.681l30.358-73.803Z" fill="#f51867"/>
                <path d="M7.937 165.115 0 39.192 84.69 0 7.937 165.115Z" fill="orange"/>
            </svg>
        </div> -->
        <div class="mg-top-40">
            <h1 class="display-3" style="font-weight:600;color: #271a38">
                Angular 18
            </h1>
        </div>
    </div>
</div>
<div class="row mg-top-30">
    <div class="col-12">
        <h4 class="text-decoration-underline">Librairies utilisées</h4>
    </div>
</div>
<div class="row row-cols-3 row-cols-md-5 mb-5 g-4">
    <div class="col">
        <app-card [borderColor]="''">
            <div body>
                <h5 class="card-title card-title-librairies">Ng Bootstrap</h5>
                <a class="card-link" href="https://ng-bootstrap.github.io/#/home" target="_blank">v17.0.1</a>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card [borderColor]="''">
            <div body>
                <h5 class="card-title card-title-librairies">Bootstrap</h5>
                <a class="card-link" href="https://getbootstrap.com/" target="_blank">v5.3.2</a>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card [borderColor]="''">
            <div body>
                <h5 class="card-title card-title-librairies">RxJS</h5>
                <a class="card-link" href="https://rxjs.dev/" target="_blank">v7</a>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card [borderColor]="''">
            <div body>
                <h5 class="card-title card-title-librairies">NgRx</h5>
                <a class="card-link" href="https://ngrx.io/" target="_blank">v18</a>
                <p class="card-text">
                    &#64;ngrx/store
                    <br />
                    &#64;ngrx/effects
                </p>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card [borderColor]="''">
            <div body>
                <h5 class="card-title card-title-librairies">Chart.js</h5>
                <a class="card-link" href="https://www.chartjs.org/" target="_blank">v4</a>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card [borderColor]="''">
            <div body>
                <h5 class="card-title card-title-librairies">angular-in-memory-web-api</h5>
                <a class="card-link" href="https://www.npmjs.com/package/angular-in-memory-web-api" target="_blank">v0.18.0</a>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card [borderColor]="''">
            <div body>
                <h5 class="card-title card-title-librairies">angular-cli-ghpages</h5>
                <a class="card-link" href="https://www.npmjs.com/package/angular-cli-ghpages" target="_blank">v2.0.1</a>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card [borderColor]="''">
            <div body>
                <h5 class="card-title card-title-librairies">Angular Material CDK</h5>
                <a class="card-link" href="https://material.angular.io/cdk/categories" target="_blank">v18.2.5</a>
                <p class="card-text">
                    &#64;angular/cdk
                </p>
            </div>
        </app-card>
    </div>
</div>
<div class="row mg-top-60">
    <div class="col-12">
        <h4 class="text-decoration-underline">Fonctionnalités utilisées</h4>
    </div>
</div>
<div class="row row-cols-3 row-cols-md-5 mb-5 g-4">
    <div class="col">
        <app-card>
            <div body>
                <h5 class="card-title card-title-fonctionnalites">Control Flow</h5>
                <ul>
                    <li>&#64;if</li>
                    <li>&#64;for</li>
                    <li>&#64;empty</li>
                    <li>&#64;switch</li>
                </ul>
            </div>
        </app-card>
    </div> 
    <div class="col">
        <app-card>
            <div body>
                <h5 class="card-title card-title-fonctionnalites">Observable</h5>
                <ul>
                    <li>Subscribe</li>
                    <li>Unsubscribe</li>
                    <li>AsyncPipe</li>
                </ul>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card>
            <div body>
                <h5 class="card-title card-title-fonctionnalites">Signals</h5>
                <div class="card-text">
                    <ul>
                        <li>Writable Signal</li>
                        <li>Input Signal</li>
                        <li>Computed Signal</li>
                        <li>Model Signal</li>
                    </ul>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card>
            <div body>
                <h5 class="card-title card-title-fonctionnalites">Lazy loading et routing</h5>
                <ul>
                    <li>loadComponent</li>
                    <li>loadChildren</li>
                </ul>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card>
            <div body>
                <h5 class="card-title card-title-fonctionnalites">Lazy loading et template</h5>
                <ul>
                    <li>&#64;defer</li>
                    <li>&#64;placeholder</li>
                </ul>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card>
            <div body>
                <h5 class="card-title card-title-fonctionnalites">Reactive Forms</h5>
                <ul>
                    <li>FormBuilder</li>
                    <li>FormGroup</li>
                    <li>FormControl</li>
                    <li>Validators</li>
                </ul>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card>
            <div body>
                <h5 class="card-title card-title-fonctionnalites">Template-driven Forms</h5>
                <ul>
                    <li>NgForm</li>
                    <li>NgModel</li>
                    <li>Validators</li>
                </ul>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card>
            <div body>
                <h5 class="card-title card-title-fonctionnalites">Interceptor pour les erreurs HTTP</h5>
                <ul>
                    <li>Functional Interceptor</li>
                </ul>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card>
            <div body>
                <h5 class="card-title card-title-fonctionnalites">Store NgRx</h5>
                <ul>
                    <li>Actions</li>
                    <li>Reducers</li>
                    <li>Selectors</li>
                    <li>Effects</li>
                    <li>LocalStorage</li>
                </ul>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card>
            <div body>
                <h5 class="card-title card-title-fonctionnalites">HttpClient et Services</h5>
                <ul>
                    <li>In-memory Db</li>
                    <li>In-memory web API</li>
                </ul>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card>
            <div body>
                <h5 class="card-title card-title-fonctionnalites">Authentication et Guard</h5>
                <ul>
                    <li>CanActivateFn</li>
                    <li>BehaviorSubject</li>
                    <li>LocalStorage</li>
                </ul>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card>
            <div body>
                <h5 class="card-title card-title-fonctionnalites">Routing</h5>
                <ul>
                    <li>routerLink</li>
                    <li>navigate</li>
                    <li>route parameters</li>
                    <li>query parameters</li>
                </ul>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card>
            <div body>
                <h5 class="card-title card-title-fonctionnalites">Graphiques avec Chart.js</h5>
                <ul>
                    <li>Dashboard</li>
                    <li>Bar Chart</li>
                </ul>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card>
            <div body>
                <h5 class="card-title card-title-fonctionnalites">UI Components (CDK)</h5>
                <ul>
                    <li>Drag and Drop</li>
                    <li>Dialog (Modal)</li>
                </ul>
            </div>
        </app-card>
    </div>
    <div class="col">
        <app-card>
            <div body>
                <h5 class="card-title card-title-fonctionnalites">Projection de contenu</h5>
                <ul>
                    <li>ng-content</li>
                </ul>
            </div>
        </app-card>
    </div>
</div>