<app-breadcrumb [theme]="theme()" [page]="page()"></app-breadcrumb>
<div class="row">
    <div class="col-12">
        <div class="mg-page-title">
            <h3>Reactive Form</h3> 
        </div>   
    </div>
</div>
<div class="row">
	<div class="col-7">
        <div class="card border-info mb-3">
            <div class="card-header text-center fw-bold">Choix du menu</div>
            <div class="card-body text-center">
                <form [formGroup]="menuForm" (ngSubmit)="onSubmit()">
                    <div class="row mb-3">
                        <label for="firstname" class="col-sm-2 col-form-label">Prénom <span class="text-danger">*</span></label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="firstname" formControlName="firstname" maxlength="10">  
                        </div>
                        <div class="col-sm-5 text-start">
                            @if(showRequiredErrorMessage("firstname")){
                                <div class="invalid-feedback d-block">
                                    Le prénom est obligatoire
                                </div>
                            }
                            @if(showMaxLengthErrorMessage("firstname")){
                              <div class="invalid-feedback d-block">
                                  Maximum 10 caractères
                              </div>
                            }
                            @if(showPatternErrorMessage("firstname")){
                              <div class="invalid-feedback d-block">
                                  Saisie incorrecte
                              </div>
                            }
                        </div>
                    </div>
                    <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Entrées</legend>
                        <div class="col-sm-5 text-start">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="entrees" id="entree1" formControlName="entrees" value="Caille confite sur salade">
                            <label class="form-check-label" for="entree1">
                                Caille confite sur salade
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="entrees" id="entree2" formControlName="entrees" value="Rillettes de truite">
                            <label class="form-check-label" for="entree2">
                                Rillettes de truite
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="entrees" id="entree3" formControlName="entrees" value="Terrine de foie gras de canard">
                            <label class="form-check-label" for="entree3">
                                Terrine de foie gras de canard
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-5">
                        </div>
                      </fieldset>
                      <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Plats <span class="text-danger">*</span></legend>
                        <div class="col-sm-5 text-start">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="plats" id="plat1" formControlName="plats" value="Confit de canard pommes à l'ail" checked>
                            <label class="form-check-label" for="plat1">
                                Confit de canard pommes à l'ail
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="plats" id="plat2" formControlName="plats" value="Steak tartare">
                            <label class="form-check-label" for="plat2">
                                Steak tartare
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="plats" id="plat3" formControlName="plats" value="Épaule d'agneau">
                            <label class="form-check-label" for="plat3">
                                Épaule d'agneau
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="plats" id="plat4" formControlName="plats" value="Pavé de bœuf sauce morilles">
                            <label class="form-check-label" for="plat4">
                                Pavé de bœuf sauce morilles
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-5"></div>
                      </fieldset>
                      <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Fromages</legend>
                        <div class="col-sm-10 text-start">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="fromages" id="fromage1" formControlName="fromages">
                            <label class="form-check-label" for="fromage1">
                                Assortiment de fromages
                            </label>
                          </div>          
                        </div>
                      </fieldset>
                      <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Dessert</legend>
                        <div class="col-sm-5 text-start">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="desserts" id="dessert1" formControlName="desserts" value="Crème brûlée">
                            <label class="form-check-label" for="dessert1">
                                Crème brûlée
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="desserts" id="dessert2" formControlName="desserts" value="Tarte aux pommes">
                            <label class="form-check-label" for="dessert2">
                                Tarte aux pommes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="desserts" id="dessert3" formControlName="desserts" value="Fruits à l'eau de vie">
                            <label class="form-check-label" for="dessert3">
                                Fruits à l'eau de vie
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="desserts" id="dessert4" formControlName="desserts" value="Mousse au chocolat">
                            <label class="form-check-label" for="dessert4">
                                Mousse au chocolat
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-5"></div>
                      </fieldset>
                      <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Café</legend>
                        <div class="col-sm-10 text-start">
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" name="cafe" id="cafe1" formControlName="cafe">
                          </div>                 
                        </div>
                      </fieldset>                
                      <div class="row mb-3">
                          <div class="col-sm-3">
                              <button type="submit" [disabled]="menuForm.invalid" [ngClass]="menuForm.invalid ? 'btn btn-outline-secondary btn-sm' : 'btn btn-outline-info btn-sm'">Valider</button>
                              &nbsp;
                              <button type="reset" class="btn btn-sm btn-outline-danger" (click)="onReset()">Reset</button>            
                          </div>
                          <div class="col-sm-11">
                          </div>
                      </div>
                </form>
            </div>
        </div>
	</div>
	<div class="col-5">
    @if(selectedMenu().firstname !== ''){
      <ul style="list-style-type: none">
        <li><span class="fw-bold">Menu de {{ selectedMenu().firstname }}</span></li>
        <li><span class="text-decoration-underline">Entrée</span> : @if(selectedMenu().entree === null) { <span class="text-danger">Non</span> }@else { {{ selectedMenu().entree }} }</li>
        <li><span class="text-decoration-underline">Plat</span> : {{ selectedMenu().plat }}</li>
        <li><span class="text-decoration-underline">Fromage</span> : @if(selectedMenu().fromage === false) { <span class="text-danger">Non</span> }@else { <span class="text-primary">Oui</span> }</li>
        <li><span class="text-decoration-underline">Dessert</span> : @if(selectedMenu().dessert === null) { <span class="text-danger">Non</span> }@else { {{ selectedMenu().dessert }} }</li>
        <li><span class="text-decoration-underline">Café</span> : @if(selectedMenu().cafe === false) { <span class="text-danger">Non</span> }@else { <span class="text-primary">Oui</span> }</li>
      </ul>
    }    
	</div>
</div>