<div class="row mg-top-150">
    <div class="col-4"></div>
    <div class="col-4 text-center">
        <div class="mg-page-title">
            <h3>Login</h3> 
        </div>   
    </div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-4"></div>
	<div class="col-4">
        <div class="card mb-3">
            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
                    <div class="row">
                        <label for="username" class="col-sm-4 col-form-label">Nom <span class="text-danger">*</span></label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="username" formControlName="username" maxlength="8">  
                        </div>
                        <div class="sm-3"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-12 text-start">
                            @if(showErrorMessage('username', 'required')){
                                <div class="invalid-feedback d-block">
                                    Le nom est obligatoire
                                </div>
                            }
                            @if(showErrorMessage('username', 'maxlength')){
                              <div class="invalid-feedback d-block">
                                  Maximum 8 caractères
                              </div>
                            }
                            @if(showErrorMessage('username', 'pattern')){
                                <div class="invalid-feedback d-block">
                                    Saisie incorrecte
                                </div>
                              }
                        </div>
                    </div>
                    <div class="row">
                        <label for="password" class="col-sm-4 col-form-label">Mot de passe <span class="text-danger">*</span></label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" id="password" formControlName="password" maxlength="6">  
                        </div>
                        <div class="sm-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-start">
                            @if(showErrorMessage('password', 'required')){
                                <div class="invalid-feedback d-block">
                                    Le mot de passe est obligatoire
                                </div>
                            }
                            @if(showErrorMessage('password', 'maxlength')){
                              <div class="invalid-feedback d-block">
                                  Maximum 6 caractères
                              </div>
                            }
                            @if(showErrorMessage('password', 'pattern')){
                                <div class="invalid-feedback d-block">
                                    Saisie incorrecte
                                </div>
                              }
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-12">
                            <button type="submit" [disabled]="loginForm.invalid" [ngClass]="loginForm.invalid ? 'btn btn-outline-secondary btn-sm rounded-pill' : 'btn btn-outline-info btn-sm rounded-pill'">Se connecter</button>
                            &nbsp;
                            <button type="reset" class="btn btn-sm btn-outline-danger rounded-pill" (click)="onReset()">Initialiser</button>            
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-12 text-danger">
                            {{ loginErrorMessage() }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
	</div>
	<div class="col-4">
    </div>
</div>